/* h1+p{
    background: gold;
}
div+div~section+p{
    background: gray;
} */

/* div>div>p{
    background: gray;
} 

div>div>section+p{
    background: blueviolet;
}
div+p{
    background: orange;
}
div>div>section>p{
    background: silver;
}
div>div h1{
    background: greenyellow;
} */

/* p::first-letter{
 font-size: 30px;
}
p::first-line{
    font-size: 20px;
}
p::selection{
    background:rgb(223, 215, 102);
    color: red;
}
p::before{
    content: "before paragraph ";
    background: yellow;
}
p::after{
    content: "After Paragraph";
    background-color: yellow;
} */

/* li::marker{
    content: "⬆️";
} */

/* ul>#a::marker{
    content: "🥭";
}
ul>#b::marker{
    content: "🍌";
}
ul>#c::marker{
    content: "🍉";
}
ul>#d::marker{
    content: "🍒";
}
ul>#e::marker{
    content: "🍎";
} */

/*  */
/* input:focus{
    background: #0ac0a1;
    color: yellow;
}
p{
    background: gray;
    display: none;
}
div{
    background-color: gold;
}
div:hover>p{
    display: block;
}
input:required{
    background: greenyellow;
    color: black;
} */
/* body:first-child{
    background: #89cc0c;
}
section:last-child{
    background: #0aba4e;
}

section:nth-child(3){
    background: #590aba;
}
td{
    padding: 10px;
}
tr:nth-child(even){
    background: burlywood;
}
tr:nth-child(odd){
    background: greenyellow;
} */

[title*="2"]{
    background: red;
}
[title^="a"]{
    background: rgb(0, 255, 13);
}
[title|="this"]{
    background: rgb(223, 48, 211);
}


